html,
body,
#root {
  height: 100%;
}
body{
  margin: 0;
}
.compra-container {
  position: relative;
}
.compra-container .carousel {
  height: 80vh;
}

.compra-final {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(200, 198, 198);
  text-align: center;
  padding: 20px;
}

/* Estilos para el sub-dropdown */
@media (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}